<html>
    <head>
        <title>List Barang</title>
    </head>
    <body>
        #if(!$barangList ||$barangList.isEmpty())
            Tidak ada data barang !
       #else
       Download 
       <a href="cetak?format=pdf">PDF</a> | <a href="cetak?format=xls">XLS</a>
       <br/><br/>
       <a href="form">Tambah</a>
       <br/>
       <table>
           <th>Id</th>
           <th>Kode</th>
           <th>Nama</th>
           <th>harga</th>
           
           #foreach($barang in $barangList)
           
           <tr>
               <td>$barang.id</td>
               <td>$barang.kodeBarang</td>
               <td>$barang.namaBarang</td>
               <td>$!numberTool.format($barang.harga)</td>
               <td><a href="form?id=$!barang.id">update</a></td>
               <td><a href="delete?id=$!barang.id">delete</a></td>
           </tr>
           
           #end
       </table>
       #end
    </body>
</html>
